/* navbar */
#mainNav{
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #da5e0b;
}
.nav-link{
    font-size: 18px;
}

/* page */
.page-section{
    padding: 120px;
    padding-bottom: 30px;
}
.box-container{
    padding: 20px;
    margin-bottom: 32px;
    background-color: #ffffff;
    color: #000;
    border-radius: 5px;
    border: 0.5px solid #E2E2E3;
    font-family: 'Poppins', sans-serif;
}
/* profile page */
#profile-pict{
    max-width: 100px;
    border-radius: 8px;
}
#nameContainer{
    margin: 14px;
}
#profile-name{
    color: #3c3c3c;
    font-size: 28px;
}
#profile-fullname{
    text-transform: capitalize;
    color: #afafaf;
    font-size: 15px;
}
#profile-fullname, #profile-name{
    margin-bottom: 4px;
}
#join-time{
    color: #777777;
    font-size: 13px;
}
.profile-link{
    color: #000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.box-container input{
    margin-bottom: 20px;
}
.profile-link i{
    margin-right: 10px;
}
.profile-link:hover{
    text-decoration: none;
    color: #da5e0b;
}
.menu-active{
    color: #da5e0b;
}

/* button utility */
.btn-excercise, .btn-learn, .btn-save{
    padding: 9px 26px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    margin-bottom: 12px;
}
.btn-excercise{
    background-color: #da5e0b;
    color: #fff;
}
.btn-excercise:hover{
    background-color: #C65205;
}
.btn-learn{
    background-color: #ffdfc2;
    color: #da5e0b;
}
.btn-learn:hover{
    background-color: #F3CEAD;
}
.btn-save{
    background-color: #da950b;
    color: #fff;
}
.btn-save:hover{
    background-color: #CC8C0B;
}



