/* button utility */
html{
    scroll-behavior: smooth;
}
.btnr{
    padding: 8px 26px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    margin-bottom: 16px;
    text-decoration: none;
}
.btnr:hover{
    text-decoration: none;
}
.btn-excercise{
    background-color: #da5e0b;
    color: #fff;
}
.btn-excercise:hover{
    background-color: #C65205;
}
.btn-learn{
    background-color: #ffdfc2;
    color: #da5e0b;
}
.btn-learn:hover{
    background-color: #F3CEAD;
}
.btn-save{
    background-color: #da950b;
    color: #fff;
}
.btn-save:hover{
    background-color: #CC8C0B;
}
.btn-send{
    background-color: #086d99;
    color: #fff;
}
.btn-send:hover{
    background-color: #07658D;
}
.btn-trans{
    background-color:  rgba(255, 255, 255, 0.6);
    border: 1px solid #ECEBEB;
    color: inherit;
}
.btn-trans:hover{
    background-color:  rgba(255, 255, 255, 0.75);
    color: inherit;
}

/*font color utility */
.cfont-add{
    color: #50da0b;
}
.cfont-add:hover{
    color: #5DF213;
}
.cfont-info{
    color: #15aabf;
}
.cfont-info:hover{
    color: #19BED5;
}
.cfont-edit{
    color:#fd7e14;
}
.cfont-edit:hover{
    color: #FF943B;
}
.cfont-delete{
    color:#EA2B4A;
}
.cfont-delete:hover{
    color: #FC3051;
}
/* card utility */
.card-aqua{
    border-left: 0.25rem solid #32CCBC !important;
}
.card-pink{
    border-left: 0.25rem solid #D939CD !important;
}
.card-purple{
    border-left: 0.25rem solid #9708CC !important;
}
.card-red{
    border-left: 0.25rem solid #EA5455 !important;
}

/* background */
.bg-custom-dark{
    background-color: #2C394B !important;
}
.bg-score-high{
    background: linear-gradient(to bottom, rgba(28, 255, 116, 0.1), rgba(28, 255, 116, 0.65));
    color: #444745;
}
.bg-score-mid{
    /* background-color: #ffff4d !important; */
    background: linear-gradient(to bottom, rgba(255, 255, 77, 0.1), rgba(255, 255, 77, 0.65));
    color: #444745;
}
.bg-score-low{
    background: linear-gradient(to bottom, rgba(249, 109, 30, 0.1), rgba(249, 109, 30, 0.65));
    color: #444745;
}

/* animation */
.fadeInRight{
    animation: fadeInRight 1s ease;
}
.fadeInLeft{
    animation: fadeInLeft 1s ease;
}
.fadeInUp{
    animation: fadeInUp 1s ease;
}
.fadeInDown{
    animation: fadeInDown 1s ease;
}
.slideBoxAnim{
    animation: slideBox 3s ease;
  }
@keyframes slideBox{
    0%{
        opacity: 0;
        width: 50%;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-40px);
       
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(40px);
       
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
